<configuration scan="true" scanPeriod="30 seconds">

    <!-- APPENDERS -->

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %-4p %c : %m%n</Pattern>
        </encoder>
    </appender>


    <!-- MAIN LOG CONFIG -->

    <root level="INFO" additivity="false">
        <appender-ref ref="consoleAppender"/>
    </root>

    <logger name="ar.com.fn" level="DEBUG" />


</configuration>